*{
    margin:0;
    padding:0;
    box-sizing: 0;
}

/* commons */

.container{
    max-width: 800px;
    margin:auto;
}

/* header */

header{
    margin-top: 20px;
    position:fixed;
    top: 20px;
    right: 10px;
}

.container nav ul li{
    display: inline;
    
}
.main-nav ul li a{
    text-decoration: none;
    color: black;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    
}