*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/* commons */

.container{
    max-width: 800px;
    margin:auto;
}

/* header */

header{
    margin-top: 20px;
    position:fixed;
    top: 20px;
    right: 10px;
    z-index: 10;
}

.container nav ul li{
    display: inline;
    
}
.main-nav ul li a{
    text-decoration: none;
    color: black;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    text-align: center;
    margin-left: 10px;   
}
/* section{
    position:relative 
}

    /* model */

.first-model{
    height: 100vh;
    background-color: red;
}
.second-model{
    height: 100vh;
    background-color: green;
}
.third-model{
    height: 100vh;
    background-color: yellow;
}

.first-model{
    position:relative;
}
#prima{
    width: 654px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.second-model{
    position:relative;
}
#seconda{
    width: 654px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.third-model{
    position:relative;
}
#terza{
    width: 654px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    color: yellow;
    word-spacing: 30px;
    padding-top: 50%;   
}
.third-model h1{
    color:green;
}